@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --default-font-family: 'Archivo', sans-serif;

  --color-gray-100: #8899a6;
  --color-gray-200: #38444d;
  --color-pink: #f231a5;
  --color-blue-100: #0a0c21;
  --color-blue-200: #000010;
}
